<!DOCTYPE html>
<html lang="en">
<head>
  <title>Basic Handler | Jcrop Demo</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.Jcrop.js')}}"></script>
<script type="text/javascript">
  jQuery(function($){

    var jcrop_api;
	
	$('.requiresjcrop').hide();
    $('#target').Jcrop({
      onChange:   showCoords,
      onSelect:   showCoords,
      onRelease:  clearCoords
    },function(){
      jcrop_api = this;
	   $('#ar_lock,#size_lock,#bg_swap').attr('checked',false);
        $('.requiresjcrop').show();
    });

    $('#coords').on('change','input',function(e){
      var x1 = $('#x1').val(),
          x2 = $('#x2').val(),
          y1 = $('#y1').val(),
          y2 = $('#y2').val();
      jcrop_api.setSelect([x1,y1,x2,y2]);
    });



  // Simple event handler, called from onChange and onSelect
  // event handlers, as per the Jcrop invocation above
  function showCoords(c)
  {
    $('#x1').val(c.x);
    $('#y1').val(c.y);
    $('#x2').val(c.x2);
    $('#y2').val(c.y2);
    $('#w').val(c.w);
    $('#h').val(c.h);
  };

  function clearCoords()
  {
   jcrop_api.setOptions({ allowSelect: true });
      $('#can_click').attr('checked',false);
	  $('#ar_lock').attr('checked',false);
 
  };
  
      $('#ar_lock').change(function(e) {
	jcrop_api.setOptions({ allowSelect: !!this.checked });
      jcrop_api.setOptions(this.checked?
        { aspectRatio: 1 }: { aspectRatio: 0 });
      jcrop_api.focus();
    });
	});

</script>

<link rel="stylesheet" href="{{url_for('static', filename='demos/demo_files/main.css')}}" type="text/css" />
<link rel="stylesheet" href="{{url_for('static', filename='demos/demo_files/demos.css')}}" type="text/css" />
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.Jcrop.css')}}" type="text/css" />

</head>
<body>

<div class="container">
<div class="row">
<div class="span12">
<div class="jc-demo-box">


  <form id="coords"
    class="coords"
    onsubmit="return true;"
	action="https://messfar.com/av_proces_logo" method="post" enctype="multipart/form-data">
    <div class="inline-labels">
	<label>正方形模式(請先打開)<input type="checkbox" id="ar_lock" /></label><br>
	<label>X1 <input type="text" size="4" id="x1" name="x1" /></label>
    <label>Y1 <input type="text" size="4" id="y1" name="y1" /></label>
    <label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
    <label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
    <label>W <input type="text" size="4" id="w" name="w" /></label>
    <label>H <input type="text" size="4" id="h" name="h" /></label>
	<label>女優名子 <input type="text" size="4" id="name" name="name" value="{{name}}" /></label>
	<label>檔案路徑 <input type="text" size="4" id="img_name" name="img_name" value="{{img_name}}" /></label>
    </div>
	<input type="submit" name="submit" value="確認" />
  </form>

  <img src="{{url_for('static', filename=img_name)}}" id="target" alt="[Jcrop Example]" />

</div>
</div>
</div>
</div>

</body>
</html>

